<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.info420.fabien.androidtravailpratique">

  <!-- Permissions -->
  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission android:name="android.permission.SEND_SMS"/>

  <application
    android:name=".application.TodoApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    
    <provider
      android:authorities="net.info420.fabien.androidtravailpratique.data"
      android:name=".data.TodoContentProvider" />

    <service android:name=".utils.TempsService"/>

    <!-- Afin de modifier la locale (langue) dans l'application, je dois ajouter android:configChanges="locale|layoutDirection" -->
    <!-- locale est assez clair. Pas besoin d'explication, j'imagine. -->
    <!-- Pour ce qui est de layoutDirection, voici pourquoi il faut l'ajouter : http://stackoverflow.com/questions/13856229/onconfigurationchanged-is-not-called-over-jellybean4-2-1 -->

    <activity android:name=".activities.PrincipaleActivity"
              android:theme="@style/AppTheme.NoActionBar"
              android:configChanges="locale|layoutDirection|orientation|keyboardHidden|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    
    <activity
      android:name=".activities.TacheActivity"
      android:label="@string/titre_tache"
      android:theme="@style/AppTheme.NoActionBar"
      android:configChanges="locale|layoutDirection">
    </activity>
    
    <activity
      android:name=".activities.ModifierTacheActivity"
      android:label="@string/titre_activity_modifier_tache"
      android:theme="@style/AppTheme.NoActionBar"
      android:configChanges="locale|layoutDirection">
    </activity>
    
    <activity
      android:name=".activities.AjouterTacheActivity"
      android:label="@string/titre_activity_ajout_tache"
      android:theme="@style/AppTheme.NoActionBar"
      android:configChanges="locale|layoutDirection">
    </activity>

    <activity
      android:name=".activities.ModifierEmployeActivity"
      android:label="@string/titre_activity_modifier_employe"
      android:theme="@style/AppTheme.NoActionBar"
      android:configChanges="locale|layoutDirection">
    </activity>
    
    <activity
      android:name=".activities.AjouterEmployeActivity"
      android:label="@string/titre_activity_ajouter_employe"
      android:theme="@style/AppTheme.NoActionBar"
      android:configChanges="locale|layoutDirection">
    </activity>
    
    <activity
      android:name=".activities.EmployeActivity"
      android:label="@string/titre_activity_employe"
      android:theme="@style/AppTheme.NoActionBar"
      android:configChanges="locale|layoutDirection">
    </activity>
  </application>

</manifest>